{
  "extends": "eslint-config-airbnb",
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "ecmaFeatures": {
    "arrowFunctions": true,
    "blockBindings": true,
    "classes": true,
    "defaultParams": true,
    "destructuring": true,
    "forOf": true,
    "generators": true,
    "modules": true,
    "spread": true,
    "templateStrings": true,
    "jsx": true
  },
  "rules": {
    "react/display-name": [1, { "acceptTranspilerName": true }],
    "react/jsx-boolean-value": [1],
    "react/jsx-closing-bracket-location": [1, "tag-aligned"],
    "react/jsx-curly-spacing": [1],
    "react/jsx-indent-props": [1, 2],
    "react/jsx-max-props-per-line": [1, { maximum: 2 }],
    "react/jsx-no-duplicate-props": [1],
    "react/jsx-no-literals": [1],
    "react/jsx-no-undef": [2],
    "react/jsx-sort-prop-types": [1, { callbacksLast: true }],
    "react/jsx-sort-props": [1, { callbacksLast: true }],
    "react/jsx-uses-react": [1],
    "react/no-did-mount-set-state": [1],
    "react/no-did-update-set-state": [1],
    "react/no-direct-mutation-state": [1],
    "react/no-multi-comp": [2],
    "react/no-unknown-property": [1],
    "react/prefer-es6-class": [1],
    "react/prop-types": [1],
    "react/react-in-jsx-scope": [1],
    "react/self-closing-comp": [1],
    "react/sort-comp": [1],
    "react/wrap-multilines": [1],
    "jsx-quotes": [1, "prefer-double"],
  }
}