<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <meta charset="utf-8" />
    <title>React Lazy Load basic example</title>
  </head>

  <body>
    <div id="content"></div>
    <script type="text/javascript" src="<%- webpackAsset('vendor', 'js') %>"></script>
    <script type="text/javascript" src="<%- webpackAsset('bundle', 'js') %>"></script>
  </body>
</html>